@charset "UTF-8";

/* tela maior */

nav#menu{
    display:none;


}
#menuflex{
    display: block;
}
.ico05{
    display: none;
}
.iconesflex{
    display: flex;
}
.ico02{display: block;}
.ico03{display: block;}

nav li{
    display: inline-block;
   
    list-style-type: none;
    padding: 5px;
    padding-left: 19px;
    border: none;
  
   
}
.imgnenor{
    display: none;
    padding: 0 10px 0 10px;
    margin: auto;
}
.imgmaior{
    display: block;
    padding: 0 10px 0 10px;
    margin: auto;
}

.flexcitrico{
    display: flex;
    padding: 0px 10px 5px 10px;
   margin: auto;
   gap: 8px;

}
.imgcitrico{
    margin-top: 1px;
    margin-bottom: 1px;
}
.imgmusc{
    margin-bottom: 1px;
}
.flexmusc{
    display: flex;
    padding: 0px 10px 5px 10px;
    margin: auto;
    gap: 8px;
}



#imagembottom{
    position: relative;
}

#textimgbottom {
    color: #ffffff;
    padding-bottom: 40px;
    
}
.frascosp{
   width: 700px;
   margin: auto;

}