@charset "UTF-8";

/* tela maior */

nav#menu{
    display:none;


}
#menuflex{
    display: block;
  
    
}
.ico05{
    display: none;
}
nav li{
    display: inline-block;
   
    list-style-type: none;
    padding: 5px;
    padding-left: 19px;
    border: none;
  
   
}
.imgmenor{
    display: none;
}
.imgmaior{
    display: block;
    padding: 0 10px 0 10px;
    margin: auto;
}

.flexcitrico{
    display: flex;
    padding: 0px 10px 10px 10px;
   margin: auto;
   gap: 8px;

}
.flexmusc{
    display: flex;
    padding: 0px 10px 10px 10px;
    margin: auto;
    gap: 8px;
}

#imagembottom {
    position: relative;
    width: 100%;
    height: auto;
}

#imagembottom img {
    display: block;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    padding-bottom: 100px;
}
.frascosp{
    display: none;
}