@charset "UTF-8";

/* tela maior */

nav#menu{
    display:none;
   

}
#menuflex{
    display: block;
    font-size: .9em;
   
    
   
}
.ico05{
    display: none;
}
.iconesflex{
    display: flex;
}
.ico02{display: block;}
.ico03{display: block;}



nav li{
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    padding-left: 19px;
    border: none;
     
}
.imgnenor{
    display: none;
    padding: 0 10px 0 10px;
    margin: auto;
}
.imgmaior{
    display: block;
    padding: 0 10px 0 10px;
    margin: auto;

    transition: all ease-in-out .5s;
}

.flexcitrico{
    display: flex;
    padding: 0px 10px 5px 10px;
   margin: auto;
   gap: 8px;

}
.imgcitrico{
    margin-top: 1px;
    margin-bottom: 1px;
}
.imgmusc{
    margin-bottom: 1px;
}
.flexmusc{
    display: flex;
    padding: 0px 10px 5px 10px;
    margin: auto;
    gap: 8px;
}



#imagembottom{
    position: relative;
}

#textimgbottom {
    color: #ffffff;
    padding-bottom: 40px;
    
}
.frascosp{
   
   width: 600px;
   margin: auto;
   transition: all ease-in-out .5s;
}




/* Janela MODAL */

#person{
    cursor: pointer;
}

.boxmodel{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 10%;
    left: 45%;
   
    padding: 10px;
    z-index: 888;
}

.model{
    min-width: 400px;
    min-height: 400px;
    background-color:  rgba(157, 157, 160, 0.729);
    box-shadow: 2px 2px 5px rgba(105, 104, 104, 0.214);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    z-index: -1;
    
}
h3{
    padding: 10px;
}
form div{
    display: flex;
    flex-direction: column;
    padding: 10px;
   
}
.model a{
    color: black;
    text-decoration: none;
    padding: 10px;
   
}
.lembrar{
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
}
.lfrom{
    margin-bottom: 10px;
}
#btentrar{
   
   
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 300px;
    border: none;
    background-color: rgb(126, 128, 129);
    color: #ffffff;
    cursor: pointer;
   

}
form div > input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}