@charset "UTF-8";

/* geral - tela menor */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body, html{
    height: 100vh;
    /* background-color: aquamarine; */
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
h1{
    margin-left: 10px;
}
h1>a{
    text-decoration: none;
    color: black;
}
/* Icones header */

.ico02{display: none;}
.ico03{display: none;}

.material-symbols-rounded{
    margin-right: 10px;
    
}
.material-symbols-rounded>a{
    text-decoration: none;
    color: black;
}

/* Linha do header */
#linha{
    display: block;
    position: relative;
    bottom:5px;
    border-bottom: 1px solid rgb(208, 204, 204);

}
nav{display:none;}
nav a{
   text-decoration: none;
   color: black;
   

}
nav li{
    list-style-type: none;
    padding: 5px;
    padding-left: 19px;
    border-bottom: 1px solid black;
    
   
}
main{
    display: block;
    max-width: 678px;
   
}
section{
    display: block;
    padding: 10px;
    margin: auto;
}
section img{
    margin: auto;
    width: 100%;
}
.boximg01{
    position: relative;
    
}
#textoimg01{
    position: absolute;
    padding: 10px;
    background-color: rgba(52, 106, 105, 0.549);
    color: #ffffff;
    height: 80px;
    
}
#textoimg01 a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    font-size: .9em;
    
}
.linha01{
    border-bottom: 1px solid white;
    padding: 6px;
}
.linha02{
    border-bottom: 1px solid white;
    padding: 6px;
}
h2{
    margin-bottom: 8px;
    font-size: 1.2em;
    margin-left: 6px;
}

